{% extends 'detection/main.html' %}

{% block content %}

{% load event_tags %}
{% load static %}
<div class="limiter">
	<div class="container-login100 p-b-0 p-t-0">
	  <div class="wrap-login100 p-l-30 p-r-30 p-t-20 p-b-20">
		<div class="Search">
		  <form id="predictionForm" method="get">
			<select class="form-control" id="visitorType" name="visitorType">
			  <option value="">Visitor Type:</option>
			  <option value="0">New Visitor</option>
			  <option value="1">Returning Visitor</option>
			  <option value="2">Other</option>
			</select>
			<select class="form-control" id="month" name="month">
			  <option value="">Month:</option>
			  <option value="2">February</option>
			  <option value="3">March</option>
			  <option value="5">May</option>
			  <option value="6">June</option>
			  <option value="7">July</option>
			  <option value="8">August</option>
			  <option value="9">September</option>
			  <option value="10">October</option>
			  <option value="11">November</option>
			  <option value="12">December</option>
			</select>
			<select class="form-control" name="weekend" id="weekend">
			  <option value="">Weekend:</option>
			  <option value="0">Yes</option>
			  <option value="1">No</option>
			</select>
			<input class="form-control" type="number" id="productRelated" placeholder="Product Related:">
			<input class="form-control" type="number" id="productRelatedDuration" placeholder="Product Related Duration:">
			<input class="form-control" type="number" id="bounceRates" placeholder="Bounce Rates:">
			<input class="form-control" type="number" id="exitRates" placeholder="Exit Rates:">
			<input class="form-control" type="number" id="pageValues" placeholder="Page Values:">
			<select class="form-control" name="specialDay" id="specialDay">
			  <option value="">Special Day:</option>
			  <option value="0">Yes</option>
			  <option value="1">No</option>
			</select>
			<input class="form-control" type="number" id="operatingSystems" placeholder="Operating Systems:">
			<input class="form-control" type="number" id="browser" placeholder="Browser:">
			<input class="form-control" type="number" id="region" placeholder="Region:">
			<input class="form-control" type="number" id="trafficType" placeholder="Traffic Type:">
			<div class="d-flex align-items-center justify-content-center">
			  <!-- Cambiar el tipo de botón -->
			  <button class="btn btn-primary" type="button" id="predictButton">Predict</button>
			</div>
		  </form>
		</div>
	  </div>
	</div>
  </div>
  
  <script>
	document.getElementById('predictButton').addEventListener('click', function() {
	  // Obtener los valores de los campos
	  const fields = [
		document.getElementById('visitorType').value.trim(),
		document.getElementById('month').value.trim(),
		document.getElementById('weekend').value.trim(),
		document.getElementById('productRelated').value.trim(),
		document.getElementById('productRelatedDuration').value.trim(),
		document.getElementById('bounceRates').value.trim(),
		document.getElementById('exitRates').value.trim(),
		document.getElementById('pageValues').value.trim(),
		document.getElementById('specialDay').value.trim(),
		document.getElementById('operatingSystems').value.trim(),
		document.getElementById('browser').value.trim(),
		document.getElementById('region').value.trim(),
		document.getElementById('trafficType').value.trim(),
	  ];
  
	  // Validar que todos los campos estén llenos
	  const emptyFields = fields.filter(value => value === '');
	  if (emptyFields.length > 0) {
		alert('Please, complete all the fields.');
	  } else {
		alert('Send Correctly!');
		// Aquí podrías agregar lógica adicional para enviar los datos al servidor
		// document.getElementById('predictionForm').submit();
	  }
	});
  </script>
  
{% endblock %}
